<div id="grid-toolbar-remove">

  <% selected = @items.selected(@grid.item_ids) %>

  <% if selected.size == 1 %>
    <%= link_to admin_page_path(selected.first, :primary_key => params[:primary_key], :return_path => request.fullpath), :confirm => "Вы увереные, что хотите удалить страницу?", :method => :delete, class: "btn btn-danger" do %>
      <%= icon 'times' %>
    <% end %>
  <% else %>
    <a href="#" class="btn btn-danger disabled">
      <%= icon 'times' %>
    </a>
  <% end %>

</div>
