= form_for @user, remote: true, html: {class: 'notify-sound-toggler-form', style: "margin: 0; display: inline"} do |f|

  a.notify-sound-toggler-link.btn.btn-unstyled style="width: 20px"
    .hide = f.check_box :sound, class: 'notify-sound-toggler-checkbox'
    i.notify-sound-toggler-icon
