<%= b1 do %>

  <% @meta_title = 'Каталог запчастей' %>
  <%= page_header %>

  <ol id="catalogs-brands">
    <% @brands.each do |brand| %>
      <li> <%= link_to brand.cached_brand, catalogs_brand_path(brand.to_brand_param) %> </li>
    <% end %>
  </ol>

<% end %>
