<%= b1 do %>

  <% @meta_title = 'Каталог запчастей' %>
  <%= page_header %>

  <div id="catalogs-brands">
    <% @brands.each do |brand| %>
      <div> <%= link_to brand.cached_brand, catalogs_brand_path(brand.to_brand_param) %> </div>
    <% end %>
  </div>

<% end %>
