<%= somebody_tabs do %>

  <% @meta_title = 'Каталоги' %>
  <%= page_header %>

  <ol id="catalogs-brands">
    <% @brands.each do |brand| %>
      <li> <%= link_to "ЗАПЧАСТИ НА #{brand.cached_brand}", catalogs_brand_path(brand.to_brand_param) %> </li>
    <% end %>
  </ol>

<% end %>
