<h1>Listing test_module_test_entities</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_module_test_entities.each do |test_module_test_entity| %>
  <tr>
    <td><%= link_to 'Show', test_module_test_entity %></td>
    <td><%= link_to 'Edit', edit_test_module_test_entity_path(test_module_test_entity) %></td>
    <td><%= link_to 'Destroy', test_module_test_entity, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<iframe src="http://192.168.2.2:3000/test_module/test_entities/new" width="320" height="416"></iframe>
<br /> <br />
<iframe src="http://192.168.2.2:3000/test_module/test_entities/new" width="480" height="256"></iframe>
<br /> <br />

<%= link_to 'New Test entity', new_test_module_test_entity_path %>
