<h4 class="top-space-none">
  <%= link_to "Войти, указав e-mail адрес", login_with_path(with: 'email') %>
  <br>
  <small>Если вы уже зарегистрированы на нашем сайте и в качестве контактных данных указали адрес электронной почты</small>
</h4>

<hr>

<h4>
  <%= link_to "Войти, указав номер телефона", login_with_path(with: 'phone') %>
  <br>
  <small>Если вы уже зарегистрированы на нашем сайте и в качестве контактных данных указали номер сотового телефона</small>
</h4>
