<% checkboxes = Rails.application.config_for("application/#{@resource_class.name.underscore}")[name]['checkboxes'] if checkboxes.nil? %>

<div rel="collapse-next" class="collapse-reset-checkboxes">
  <%= render 'opts/name', f: f, name: name %>
</div>

<% css_class = "collapse" %>
<% if params[:q].present? %>
  <% if params[:q]["#{name}_eq_any"].present? && ( params[:q]["#{name}_eq_any"] & checkboxes.map{|ch| ch[:value].to_s} ) %>
    <% css_class = "collapse in" %>
  <% end %>
<% end %>

<div class="bottom-space-sm <%= css_class %>">
  <div style="overflow-y: auto; max-height: 300px">
  <% checkboxes.each do |checkbox| %>
    <div class="checkbox" style="margin-top: 0; margin-bottom: 5px">
      <label>
        <% is_checked = params[:q] && params[:q]["#{name}_eq_any"].is_a?(Array) && params[:q]["#{name}_eq_any"].include?(checkbox[:value].to_s) %>
        <%= check_box_tag("q[#{name}_eq_any][]", checkbox[:value], is_checked, class: 'element' ) %>
          <%= checkbox[:label] %>
      </label>
    </div>
  <% end %>
  </div>
</div>
