<% si = @resource_class ? Rails.configuration.send("opts_#{@resource_class.name.demodulize.underscore}").try(:[], name).try(:[], 'si') : '' %>
<% si = ", #{si}" if si.present? %>

<span class="text-info" style="cursor: pointer" data-toggle="collapse-next">
  <%= icon 'chevron-circle-right' %>
  <%= f.label name, style: 'cursor: pointer' %><%= si %>
</span>
