<h4 class="top-space-none">
  <%= link_to 'В письме на e-mail адрес', contacts_password_reset_path(password_reset: { with: 'email' }) %>
  <br>
  <small>Если вы уже регистрировались на нашем сайте указав в качестве контактных данных адрес электронной почты и забыли пароль</small>
</h4>

<hr>

<h4>
    <%= link_to 'SMS на мобильный телефон', contacts_password_reset_path(password_reset: { with: 'phone' }) %>
    <br>
    <small>Если вы уже регистрировались на нашем сайте указав в качестве контактных данных номер сотового телефона и забыли пароль</small>
</h4>
