<%= row do %>

  <div class="col-sm-8">

    <% @meta_title = "Смена пароля" %>
    <% @meta_title_lead = "Придумайте себе новый пароль" %>

    <%= page_header %>

    <%= render 'password_form' %>
  </div>

  <%= render 'right' %>

<% end %>
