<% @spare_infos.each do |spare_info| %>
  <%= render "#{@resource_class.name.underscore.pluralize}/part", part: spare_info, resource_class: @resource_class %>
<% end %>

<div class="top-space">
  <%= paginate @spare_infos %>
</div>

<% if false %>
<%= link_to 'New Accumulator', new_accumulator_path %>
Масса (в незалитом виде)
Размер корпуса
<% end %>
