<% si = Rails.application.config_for('application/accumulators').try(:[], name).try(:[], 'si') %>
<% si.prepend ", " if si.present? %>
<span class="text-info" data-toggle="collapse-next"><%= icon 'chevron-circle-right' %> <%= f.label name, style: "cursor: pointer" %><%= si %></span>
