<%= simple_form_for(@add_requst_id_to_car) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :request %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
