<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @add_requst_id_to_car.request %>
</p>


<%= link_to 'Edit', edit_add_requst_id_to_car_path(@add_requst_id_to_car) %> |
<%= link_to 'Back', add_requst_id_to_cars_path %>
