<% @meta_title = 'Регистрация' %>
<% @meta_title_lead = 'Выберите удобный для вас способ регистрации' %>
<%= page_header %>

<ul class="list-unstyled bottom-space-lg">
  <li>
    <%= link_to "Регистрация с помощью e-mail адреса", edit_register_path(with: 'email'), class: 'lead' %>
  </li>
  <li>
    <%= link_to "Регистрация с помощью мобильного телефона", edit_register_path(with: 'phone'), class: 'lead' %>
  </li>
</ul>
