<h4 class="top-space-none">
  <%= link_to "Регистрация с помощью e-mail адреса", edit_register_path(with: 'email') %>
  <br>
  <small>Вам будет необходимо указать работающий адрес электронной почты, на который мы отправим письмо, чтобы подтвердить регистрацию.</small>
</h4>

<hr>

<h4>
    <%= link_to "Регистрация с помощью мобильного телефона", edit_register_path(with: 'phone') %>
    <br>
    <small>Вам будет необходимо указать работающий номер сотового телефона, на который мы отправим SMS, чтобы подтвердить регистрацию.</small>
</h4>
