<%= form_tag main_app.new_user_product_path, method: :get, enforce_utf8: false, class: "search-form navbar-form navbar-left" do %>

  <div class="form-group">
    <div class="input-group" id="catalog_number_parent">
      <%= text_field_tag :catalog_number, params[:catalog_number] || @preset_catalog_number, :placeholder => 'Артикул детали', :class => "form-control" %>
      <div class="input-group-btn">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <% unless (history = session[:history]).nil? %>
            <% history.each do |stat| %>
              <li><%= link_to stat[1], main_app.new_user_product_path(catalog_number: stat[0]) %></li>
            <% end %>
          <% else %>
            <li><a href="#">История поиска пуста</a></li>
          <% end %>
        </ul>
        <button class="btn btn-default" style="margin-left: 5px; border-radius: 4px" type="submit"> Найти </button>

      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /form-group -->

<% end %>
