[submodule "system/submodules/ckeditor-dev"]
	path = system/submodules/ckeditor-dev
	url = https://github.com/woto/ckeditor-dev.git
[submodule "system/submodules/CKEditor-oEmbed-Plugin"]
	path = system/submodules/CKEditor-oEmbed-Plugin
	url = https://github.com/w8tcha/CKEditor-oEmbed-Plugin.git
[submodule "system/submodules/CKEditor-CodeMirror-Plugin"]
	path = system/submodules/CKEditor-CodeMirror-Plugin
	url = https://github.com/w8tcha/CKEditor-CodeMirror-Plugin.git
[submodule "system/submodules/jquery-cookie"]
	path = system/submodules/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
