/log
/tmp

/.bundle
/.bundler

#/config/database.yml
#/config/config.yml

/public/assets
/public/uploads

.DS_Store
*~
*.swp
*.swo

/public/sitemap*
/vendor/cache

/system/dump.rdb
/system/node_modules
/system/parts_info
