[submodule "system/ckeditor-dev"]
	path = system/ckeditor-dev
	url = https://github.com/woto/ckeditor-dev.git
[submodule "system/CKEditor-oEmbed-Plugin"]
	path = system/CKEditor-oEmbed-Plugin
	url = https://github.com/w8tcha/CKEditor-oEmbed-Plugin.git
[submodule "system/CKEditor-CodeMirror-Plugin"]
	path = system/CKEditor-CodeMirror-Plugin
	url = https://github.com/w8tcha/CKEditor-CodeMirror-Plugin.git
