/log
/tmp
/.bundle
/.bundler
/.idea

/config/database.yml
/config/config.yml

/public/uploads

.DS_Store
*~
*.swl
*.swm
*.swn
*.swo
*.swp

.env

/public/sitemap*
/public/data
/public/assets-production
/vendor/cache
/vendor/bundle
/system/dump.rdb
node_modules
/system/parts_info

dump.rdb
