[submodule "system/submodules/CKEditor-oEmbed-Plugin"]
	path = system/submodules/CKEditor-oEmbed-Plugin
	url = https://github.com/w8tcha/CKEditor-oEmbed-Plugin.git
[submodule "system/submodules/CKEditor-CodeMirror-Plugin"]
	path = system/submodules/CKEditor-CodeMirror-Plugin
	url = https://github.com/w8tcha/CKEditor-CodeMirror-Plugin.git
[submodule "system/submodules/jquery-cookie"]
	path = system/submodules/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "system/submodules/select2"]
	path = system/submodules/select2
	url = https://github.com/ivaynberg/select2
[submodule "system/submodules/jQuery-File-Upload"]
	path = system/submodules/jQuery-File-Upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "system/submodules/jquery.transit"]
	path = system/submodules/jquery.transit
	url = https://github.com/rstacruz/jquery.transit
[submodule "system/submodules/Jcrop"]
	path = system/submodules/Jcrop
	url = https://github.com/tapmodo/Jcrop.git
[submodule "system/images"]
	path = system/images
	url = https://github.com/woto/system_images.git
[submodule "system/submodules/moment"]
	path = system/submodules/moment
	url = https://github.com/timrwood/moment.git
[submodule "system/submodules/jquery-jsonp"]
	path = system/submodules/jquery-jsonp
	url = https://github.com/jaubourg/jquery-jsonp.git
[submodule "system/submodules/mustache"]
	path = system/submodules/mustache
	url = git://github.com/janl/mustache.js.git
[submodule "system/submodules/underscore"]
	path = system/submodules/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "system/submodules/Respond"]
	path = system/submodules/Respond
	url = https://github.com/scottjehl/Respond.git
[submodule "system/submodules/iCheck"]
	path = system/submodules/iCheck
	url = https://github.com/fronteed/iCheck.git
[submodule "system/submodules/sockjs-client"]
	path = system/submodules/sockjs-client
	url = https://github.com/sockjs/sockjs-client
[submodule "system/submodules/jquery.maskedinput"]
	path = system/submodules/jquery.maskedinput
	url = https://github.com/digitalBush/jquery.maskedinput
[submodule "system/submodules/bootstrap"]
	path = system/submodules/bootstrap
	url = https://github.com/twitter/bootstrap
[submodule "system/submodules/Font-Awesome"]
	path = system/submodules/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "system/submodules/html5shiv"]
	path = system/submodules/html5shiv
	url = https://github.com/aFarkas/html5shiv
[submodule "system/submodules/jquery"]
	path = system/submodules/jquery
	url = https://github.com/jquery/jquery
[submodule "system/submodules/jquery-ui"]
	path = system/submodules/jquery-ui
	url = https://github.com/jquery/jquery-ui
[submodule "system/submodules/bootswatch"]
	path = system/submodules/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "system/submodules/purl"]
	path = system/submodules/purl
	url = https://github.com/allmarkedup/purl
[submodule "system/submodules/headroom.js"]
	path = system/submodules/headroom.js
	url = https://github.com/WickyNilliams/headroom.js
[submodule "system/submodules/pickadate.js"]
	path = system/submodules/pickadate.js
	url = https://github.com/amsul/pickadate.js
[submodule "system/submodules/brands_small"]
	path = system/submodules/brands_small
	url = https://github.com/woto/brands_small
[submodule "system/submodules/brands_big"]
	path = system/submodules/brands_big
	url = https://github.com/woto/brands_big
[submodule "system/submodules/list.js"]
	path = system/submodules/list.js
	url = https://github.com/woto/list.js
[submodule "system/submodules/nprogress"]
	path = system/submodules/nprogress
	url = https://github.com/woto/nprogress
[submodule "system/submodules/list.pagination.js"]
	path = system/submodules/list.pagination.js
	url = https://github.com/javve/list.pagination.js
[submodule "system/submodules/files"]
	path = system/submodules/files
	url = https://github.com/woto/files
[submodule "system/submodules/skrollr"]
	path = system/submodules/skrollr
	url = https://github.com/Prinzhorn/skrollr
[submodule "system/submodules/bootbox"]
	path = system/submodules/bootbox
	url = https://github.com/makeusabrew/bootbox
[submodule "system/submodules/autosize"]
	path = system/submodules/autosize
	url = https://github.com/jackmoore/autosize
[submodule "system/submodules/nanoScrollerJS"]
	path = system/submodules/nanoScrollerJS
	url = https://github.com/jamesflorentino/nanoScrollerJS
[submodule "./system/submodules/console.log-wrapper"]
	path = system/submodules/console.log-wrapper
	url = https://github.com/cpatik/console.log-wrapper.git
[submodule "system/submodules/fastclick"]
	path = system/submodules/fastclick
	url = https://github.com/ftlabs/fastclick
[submodule "system/submodules/ckeditor-dev"]
	path = system/submodules/ckeditor-dev
	url = git://github.com/ckeditor/ckeditor-dev.git
	branch = master
[submodule "system/submodules/bosch_automotive_catalog_com"]
	path = system/submodules/bosch_automotive_catalog_com
	url = https://github.com/woto/bosch_automotive_catalog_com
