/log
/tmp
/.bundle
/.bundler

/config/database.yml
/config/config.yml

/public/uploads

.DS_Store
*~
*.swl
*.swm
*.swn
*.swo
*.swp

/public/sitemap*
/public/assets-production
/vendor/cache
/vendor/bundle
/system/dump.rdb
node_modules
/system/parts_info

/db/sphinx
dump.rdb

realtime/realtime.js
