<%= render 'smart_show' %>

<script>
  $(function(){
    
    $("#zzz").on("click", function(){
      var data = CKEDITOR.instances.editable.getData();
      alert(data);
    });
  })
    // Your code to save "data", usually though Ajax.
</script>

<br />
<br />
<br />

<h3> Тест </h3>
<div id="editable" contenteditable="true">
  <%= raw Sanitize.clean @resource.content, Rails.configuration.sanitize_config %>
</div>

<button id="zzz"></button>
