<div class="clearfix">

  <div class="pull-right">

    <%= render "grid_toolbar_columns" %>

    <%= render "grid_toolbar_transactions" %>

    <%= render 'grid_toolbar_per_page' %>

  </div>

</div>
