= favicon_link_tag
= favicon_link_tag "images/apple-touch-icon.png", :rel => "apple-touch-icon", :type => "image/png"
= favicon_link_tag "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72", :type => "image/png"
= favicon_link_tag "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114", :type => "image/png"
= favicon_link_tag "images/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144", :type => "image/png"
