<h1>TrashHelp#merge</h1>
<%= form_tag(trash_help_merge_path) do %>
  <%= text_field_tag(:id_1) %>
  <%= text_field_tag(:id_2) %>
  <%= submit_tag("Объединить") %>
<% end %>
<p>Find me in app/views/trash_help/merge.html.erb</p>
