- model_class = ProductTransaction
.page-header
  h1 =t '.title', :default => model_class.model_name.human.pluralize

= paginate @product_transactions

table.table.table-striped
  thead
    tr
      th = model_class.human_attribute_name(:log_id)
      th = model_class.human_attribute_name(:log_catalog_number)
      th = model_class.human_attribute_name(:log_manufacturer)
      th = model_class.human_attribute_name(:log_status)
      th = model_class.human_attribute_name(:log_notes)
      th = model_class.human_attribute_name(:log_notes_invisible)
      th = model_class.human_attribute_name(:log_user_id)
      th = model_class.human_attribute_name(:log_order_id)
      th = model_class.human_attribute_name(:log_supplier_id)
      th = model_class.human_attribute_name(:log_quantity_ordered)
      th = model_class.human_attribute_name(:log_quantity_available)
      th = model_class.human_attribute_name(:log_probability)
      th = model_class.human_attribute_name(:log_min_days)
      th = model_class.human_attribute_name(:log_max_days)
      th = model_class.human_attribute_name(:log_buy_cost)
      th = model_class.human_attribute_name(:log_sell_cost)
      th = model_class.human_attribute_name(:log_short_name)
      th = model_class.human_attribute_name(:log_long_name)
      th = model_class.human_attribute_name(:log_product_id)
      th = model_class.human_attribute_name(:log_created_at)
      th = model_class.human_attribute_name(:log_updated_at)
      th = model_class.human_attribute_name(:product_id)
      th = model_class.human_attribute_name(:created_at)
      th = model_class.human_attribute_name(:updated_at)
      th =t '.actions', :default => t("helpers.actions")
  tbody
    - @product_transactions.each do |product_transaction|
      tr
        td = link_to product_transaction.id, admin_product_transaction_path(product_transaction)
        td = product_transaction.log_catalog_number
        td = product_transaction.log_manufacturer
        td = product_transaction.log_status
        td = product_transaction.log_notes
        td = product_transaction.log_notes_invisible
        td = product_transaction.log_user_id
        td = product_transaction.log_order_id
        td = product_transaction.log_supplier_id
        td = product_transaction.log_quantity_ordered
        td = product_transaction.log_quantity_available
        td = product_transaction.log_probability
        td = product_transaction.log_min_days
        td = product_transaction.log_max_days
        td = product_transaction.log_buy_cost
        td = product_transaction.log_sell_cost
        td = product_transaction.log_short_name
        td = product_transaction.log_long_name
        td = product_transaction.log_product_id
        td =l product_transaction.log_created_at if product_transaction.log_created_at
        td =l product_transaction.log_updated_at if product_transaction.log_updated_at
        td = product_transaction.product_id
        td =l product_transaction.created_at if product_transaction.created_at
        td =l product_transaction.updated_at if product_transaction.updated_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_product_transaction_path(product_transaction), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_product_transaction_path(product_transaction), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= paginate @product_transactions

= link_to t('.new', :default => t("helpers.links.new")), new_admin_product_transaction_path, :class => 'btn btn-primary'
