i.icon-globe
'
=' current_user.remote_ip
'
=' current_user.ipgeobase_country
'
=' current_user.ipgeobase_district
'
=' current_user.ipgeobase_region
'
=' current_user.ipgeobase_city
'
=' current_user.ipgeobase_lat
'
=' current_user.ipgeobase_lng
