i.icon-eye-open
'
  
a href="#" data-toggle="tooltip" title="#{current_user.stats.last.title}"= truncate(current_user.stats.last.title, :length => 40)
'
a href="#" data-toggle="tooltip" title="#{current_user.stats.last.location}"= truncate(current_user.stats.last.location, :length => 40)
'
a href="#" data-toggle="tooltip" title="#{current_user.stats.last.referrer}"= truncate(current_user.stats.last.referrer, :length => 40)
