<%= row do %>

  <div class="col-sm-7">

    <%= twbs_form_for @contact, as: :confirm, url: smart_route(prefix: [:make], postfix: [:confirm, params[:resource_class].underscore]), method: :get  do |f| %>
      <%= f.twbs_text_field :pin %>
      <%= f.twbs_submit 'Подтвердить' %>
    <% end %>

  </div>

<% end %>
