th .current {
  text-decoration: underline;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc { 
  background-image: url(/images/up_arrow.gif); 
  color: #988
}

th .desc { 
  background-image: url(/images/down_arrow.gif); 
  color: #932
}
