defaults: &defaults
  from_email_address: 'robot@example.com'
  price_request_cache_with_replacements_in_seconds: 7776000 # 3 мес.
  price_request_cache_without_replacements_in_seconds: 3600 #  1 час.
  sms_notify_method: flash
  redis_port: '6379'
  socket_io_address: '192.168.2.3'
  socket_io_port: '80'
  juggernaut_port: '8080'
  price_address: '192.168.2.9'
  price_port: '3000'
  request_emex: true
  emex_income_rate: 1.05 # Наценка 5%
  avtorif_income_rate: 0.8002 # Скидка 19.98%
  retail_rate: 1.15
  robokassa_integration_mode: production
  robokassa_pass_1: password
  robokassa_pass_2: password
  robokassa_user: login

  initial_map_zoom: 5
  initial_map_lat: 55.7304426143438
  initial_map_lng: 37.63272449798592
  warehouse_address: Россия, Москва, Красная площадь, 3
  delivery_minute_cost: 16
  google_maps_key: Ключ google maps
  travel_mode: TRANSIT
  automatic_calculate_active: true
  max_automatic_calculated_cost: 600

  checkout_account: Номер счета получателя платежа
  checkout_bank: Наименование банка получателя платежа
  checkout_bik: БИК
  checkout_correspondent: Номер кор./сч. банка получателя платежа
  checkout_inn: ИНН получателя платежа (не банка)
  checkout_recipient: Наименования получателя платежа

  counter_yandex: <!-- yandex counter -->
  counter_mail: <!-- mail counter -->
  counter_rambler: <!-- rambler counter -->
  counter_google: <!-- google counter -->
  counter_openstat: <!-- openstat counter -->
  counter_liveinternet: <!-- liveinternet counter -->

  avisosms_username: username
  avisosms_password: password
  avisosms_source_address: Yaponama
  avisosms_delivery_report: 1
  avisosms_flash_message: 0
  avisosms_validity_period: 10
  avisosms_email_address: 123@avisosms.ru
  default_user_prepayment: 20
  default_user_discount: 0
  default_user_order_rule: all
  send_request_from_search_page: true
  get_image_data_address: 192.168.2.3
  get_image_data_port: 8800
  # https://code.google.com/apis/console
  google_oauth2_key:
  google_oauth2_secret:
  # https://developers.facebook.com/apps
  facebook_key:
  facebook_secret:
  # http://vk.com/developers.php
  vkontakte_key:
  vkontakte_secret:
  # https://dev.twitter.com/apps/new
  twitter_key:
  twitter_secret:
  # https://oauth.yandex.ru/client/new
  yandex_key:
  yandex_secret:
  #
  odnoklassniki_key:
  odnoklassniki_secret: 
  # http://api.mail.ru/sites/my/add
  mailru_key:
  mailru_secret:



development: &development
  <<: *defaults
  site_address: '192.168.2.3'
  site_port: '3000'
  redis_address: '192.168.2.3'
  juggernaut_address: '192.168.2.3'

production:
  <<: *defaults
  site_address: 'www.yaponama.ru'
  site_port: '80'
  redis_address: 'www.yaponama.ru'
  juggernaut_address: 'www.yaponama.ru'

test:
  <<: *development
  socket_io_port: '3600'
