.page-header
  h1 Внутренняя ошибка сервера

p Извините, на сервере произошла непредвиденная ошибка. Сообщите нам если считаете, что эта ошибка не должна была возникнуть или попробуйте перейти на главную страницу и попробовать еще раз.</p>
= render :partial => "pages/add_menu_elements"
p = debug params
p = @exception

