.page-header
  h1 Страница не найдена

p Извините, запрошенная вами страница не найдена, страница была удалена. Сообщите нам если считаете, что эта ошибка не должна была возникнуть или попробуйте перейти на главную страницу и попробовать еще раз.

= render :partial => "pages/add_menu_elements"
p = debug params
p = @exception

