<noindex>
  <!-- The Modal Dialog  -->
  <div id="catalog-number-modal" class="modal hide fade">
    <div class="modal-header">
      <h3>Каталожный номер и Производитель</h3>
     <a href="#" class="close">&times;</a>
    </div>
    <div class="modal-body">
      <div style="overflow: hidden">
        <%= image_tag "toyota_genuine_spare_parts.png", :style => "width: 250px; float: left; margin-right: 10px" %>
        <p>Каталожный номер запчасти – это уникальный артикул детали по каталогу фирмы – производителя. Другими словами разные производители могут производить детали с одними и теми же каталожными номерами, поэтому часто указания просто католожного номера не достаточно. Приведем пример с каталожным номером 2102, если вы введете в поиск этот каталожный номер, то получите результат: болт производителя Febi, подвеска Auger, добавка в моторное масло Mannol, поэтому если возникает неопределенность в результатах поиска, то используйте дополнительное условие поиска - название производителя. Найти каталожный номер запчасти можно в электронном или бумажном каталоге производителя запчастей, а так же упаковке ранее приобретенной авозапчасти, либо воспользовавшись консультацией на сайте.</p>
      </div>
    </div>
    <div class="modal-footer">
     <a href="#" id="catalog-number-close" class="btn primary">Ок</a>
    </div>
  </div>

  <!-- The Modal Dialog  -->
  <div id="replacements-modal" class="modal hide fade">
    <div class="modal-header">
      <h3>Замены и аналоги</h3>
     <a href="#" class="close">&times;</a>
    </div>
    <div class="modal-body">
      <div style="overflow: hidden">
        <p>Помимо искомого номера вы можете включить функцию поиска Замен и аналогов. В терминологии автовладельцев заменой является деталь, выпущенная этим же производителем с улучшенными техническими характеристиками (еще называется новый каталожный номер, когда выпуск искомого номера прекращается), а так же детали, выпущенные другими производителями, выпускающими собственные автомобили. Аналогами называют любые детали производители которых не выпускают автомобили.</p>
      </div>
    </div>
    <div class="modal-footer">
     <a href="#" id="replacements-close" class="btn primary">Ок</a>
    </div>
  </div>
</noindex>
