<!-- Google + -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ru'}
</script>
<!-- /Google + -->

<div id="loading" style="display: none; position: absolute; background: #FFF; border: 1px solid #999; padding: 50px; z-index: 500">
  <div style="margin: 0 auto; text-align: center">
    <p style="text-align: center">Пожалуйста ожидайте, идет поиск по базе</p>

    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Загрузка</span>
      </div>
    </div>
    <p>Нажимая на &nbsp;лайк&nbsp; вы помогаете делать<br />наши цены еще более привлекательными!</p>
    <br />

    <!-- Google + -->
      <div class="g-plusone" data-annotation="inline" data-width="250"></div>
    <!-- /Google + -->
  </div>

</div>

<%= row do %>
  <div class="col-md-12">
    <div id="search-area-parent">
      <div id="search-area">
        <%= render :partial => "searches/index" %>
      </div>
    </div>
  </div>
<% end %>
