#important {
  @extend .bg-danger;
  @extend .bottom-space-none;
  margin: 30px 0;

  animation: important 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  background: $alert-danger-bg;

  &:empty {
    padding: 0;
  }
}

@keyframes important {
  0%   { background: $alert-danger-bg; }
  5%   { background: $brand-danger; }
  100% { background: $alert-danger-bg; }
}
