#nav-btns {
  font-family: Verdana, Geneva, sans-serif;
}


#nav-second {
  z-index: 999;
  min-height: 0;
  border-bottom: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/////////////////////

#unread_talks:empty {
  @extend .hidden;
}

#products_incart:empty {
  @extend .hidden;
}

/////////////////////

#catalog_number_parent {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 140px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 160px;
 }
  @media (min-width: $screen-lg-min) {
    width: 200px;
 }
}

#catalog_number {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 140px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 160px;
 }
  @media (min-width: $screen-lg-min) {
    width: 200px;
 }
}

/////////////////////

.navbar-brand {

  padding: 5px 15px;

  #crop-navbar-brand {
    overflow: hidden;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 48px;
    }
    @media (min-width: $screen-lg-min) {
      width: 196px;
    }
  }

}

/////////////////////

#dropdown-phone .link {
  color: $link-color;
  &:hover, &:focus {
    color: $link-hover-color;
  }
}

/////////////////////

#nav-first {
  margin-bottom: 0;
}
