<h1>html_part_sanitized</h1>

<%
  a = Base64.decode64(@email.html_part)
%>

<%
  # a = "<div style=\"background:url('javascript:alert(1)')\">"
  # a = "<img style='adsf' src=javascript:alert('Hello')> | <table background=\"javascript:alert('Hello')\">"
%>

<%
    a =  Sanitize.clean(a, Rails.configuration.sanitize_config)
%>

<%= raw a %>
