/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.facebox
 *= require bootstrap/main

 *= require bootstrap-image-gallery/bootstrap-image-gallery

 *= require jquery.fileupload-ui
 *= require_self
 *= require_tree .
 */

.datetime {
  width: auto
}

.right-space {
  margin-right: 10px
}

.bottom-space {
  margin-bottom: 10px;
}

.top-space {
  margin-top: 10px;
}

.bottom-space {
  margin-bottom: 20px;
}

.nested-visualize {
  margin: 0px 0 20px 0px; 
  padding: 0 0 0 20px; 
}

@media (min-width: 768px) and (max-width: 979px) {
  body {
    paddint-top: 0px;
  }
}

@media (min-width: 980px) {
  body { 
    padding-top: 60px;
  }
}

.help-block {
  color: #999;
}
