@import 'twitter/bootstrap_base';

#chat-button {
  top: 30%; 
  width: 30px; 
  height: 151px; 
  right: -30px;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  background: asset-url('talk.png')
}
