@import 'bootstrap';
@import 'font-awesome';

#slide-top {
  cursor: pointer;
  .opacity(0.5);
  z-index: 1000;
  right: 1%;
  position: fixed;
  .transition(all .3s ease-in-out);
  &:hover {
    .opacity(1);
  }

  &.affix-top {
    bottom: -50px;
    .invisible();
  }

  &.affix {
    bottom: 1%;
  }
}

//@import 'bootswatch/flatly/variables';
//@import 'bootswatch/flatly/bootswatch';

/////////////////////

.top-space {
  margin-top: 20px;
}

.right-space {
  margin-right: 20px;
}

.bottom-space {
  margin-bottom: 20px;
}

.left-space {
  margin-left: 20px;
}

/////////////////////

.dashed {
  border-bottom: dashed @text-muted 1px;
  cursor: pointer;
  color: @text-color !important;
}

.dashed:hover {
  text-decoration: none;
  border-bottom: solid #005580 1px;
}

/////////////////////

.btn-unstyled {
  width: 20px;
  color: white;
  //color: @state-info-text !important;
  .box-shadow(none) !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  &:hover {
    color: lighten(@state-info-text, 10%) !important;
  }
}

/////////////////////

.nested-visualize {
  margin: 0px 0 20px 0px; 
  padding: 0 0 0 40px; 
  border-left: 3px dashed #5BC0DE;
}

/////////////////////

.datetime {
  width: auto !important;
  display: inline-block !important;
}

/////////////////////

#items-progress {
  background: white;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .opacity(0.5);
  display: none;
}


#auth-buttons a {
  text-decoration: none;
}

#auth-buttons img {
  width: 28px;
  height: 28px;
}

#auth-buttons li {
  margin-bottom: 10px;
}

/////////////////////

#clientMap {
  width: 100%;
  height: 400px;
}

.delivery_zone_vertices {
  //display: none;
}

// Bootstrap 2 hack for map
#clientMap img {
  max-width: none;
}

/////////////////////

#map {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
}

// Bootstrap 2 hack for map
#map img {
  max-width: none;
}

/////////////////////

// Элементы управления - добавление, редактирование, удаление
.profileable-category-add, .profileable-item-controls {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -15px;
  color: white !important;
  visibility: hidden;
  display: inline
}

// Конкретный элемент profileable - конкретный адрес, профиль и т.д.
.profileable-item {
  position: relative;
  .text-muted;
  margin-bottom: 10px;
  word-wrap: break-word;
}

// Категория - заголовок
.profileable-category {
  position: relative;
  div {
    .text-primary;
  }
  a {
    text-decoration: none;
  }
}

/////////////////////

// Звездочки для обязательных полей asterisk: true
label.required:after {
  content: "\00a0*"
}

/////////////////////

// Минимальная высота для поля ckeditor (как минимум simple),
// из-за plugin autgrow (по-моему так называется)

.cke_wysiwyg_div
{
  min-height: 75px;
}

/////////////////////

.talk-button {
  top: 60%;
  margin-top: -150px;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}

#talk-button-show {
  right: -275px;
  width: 300px;
  .box-shadow(0 5px 10px rgba(0, 0, 0, .2)) !important;
}

/////////////////////

#grid-toolbar-new {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-edit {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-remove {
  display: inline-block;
  margin-right: 5px;
}

// Полоска 'по N на страницу'
#grid-toolbar-per-page {
  display: inline-block;
  margin-right: 5px;
}

// Полоска 'Выделено: N'
#grid-toolbar-selected {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-check-uncheck {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-actions {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-columns {
  display: inline-block;
  margin-right: 5px;
}

#grid-toolbar-transactions {
  display: inline-block;
  margin-right: 5px;
}

/////////////////////

.label-all, .badge-all {
  background-color: white !important;
  color: black !important;
}

.label-active, .badge-active {
  background-color: white !important;
  color: black !important;
}

.label-incart, .badge-incart {
  background-color:  #A2A5B4!important;
  color: white !important;
}

.label-inorder, .badge-inorder {
  background-color: #FFDD03 !important;
  color: white !important;
}

.label-ordered, .badge-ordered {
  background-color: #069CD3 !important;
  color: white !important;
}

.label-pre_supplier, .badge-pre_supplier {
  background-color: #92007B !important;
  color: white !important;
}

.label-post_supplier, .badge-post_supplier {
  background-color: #0A6F20 !important;
  color: white !important;
}

.label-stock, .badge-stock{
  background-color: #8CCE3A !important;
  color: white !important;
}

.label-complete, .badge-complete{
  background-color: #FF7F00 !important;
  color: white !important;
}

.label-cancel, .badge-cancel {
  background-color: #CD0506 !important;
  color: white !important;
}

/////////////////////

.label-open, .badge-open {
  background-color: #072889 !important;
  color: white !important;
}

.label-close, .badge-close {
  background-color: #7F0000 !important;
  color: white !important;
}

/////////////////////

.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: none;
  h1 {
    margin-top: 0;
    //font-size: 28px;
  }
}

/////////////////////
// Пока не уверен что это правильный способ
.select2-container {
  width: 100%
}

/////////////////////

.brands a {
  display: block;
  text-align: center;
  line-height: 180px;
  float: left;
  height: 100px;
  width: 96px;
}

/////////////////////
.stars {
  white-space: nowrap;
  color: @text-muted;
}

/////////////////////

.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

#loading {
  display: none;
  position: absolute;
  background: #FFF;
  border: 1px solid #999;
  padding: 50px;
  z-index: 500
}
