@import 'bootstrap';
@import 'font-awesome';
@import 'theme';

/////////////////////

@import 'sticky_footer';

@import 'slide_top';

/////////////////////

@import 'font';

/////////////////////


@import 'bootswatch/spacelab/variables';
@import 'bootswatch/spacelab/bootswatch';

/////////////////////

@import 'space';

/////////////////////

@import 'text';

/////////////////////

@import 'dashed';

/////////////////////

.nested-visualize {
  margin: 0px 0 20px 0px; 
  padding: 0 0 0 40px; 
  border-left: 3px dashed #5BC0DE;
}

/////////////////////

.datetime {
  width: auto !important;
  display: inline-block !important;
}

/////////////////////

#items-progress {
  background: white;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .opacity(0.5);
  display: none;
}


#auth-buttons a {
  text-decoration: none;
}

#auth-buttons img {
  width: 28px;
  height: 28px;
}

#auth-buttons li {
  margin-bottom: 10px;
}

/////////////////////

@import 'map';

/////////////////////

@import 'navbar';

/////////////////////

@import 'leftbar';

/////////////////////

@import 'form';

/////////////////////

@import 'talk_button';

/////////////////////

@import 'right_hand';

/////////////////////

@import 'grid';

/////////////////////

@import 'label';

/////////////////////

.page-header {
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: none;
  h1 {
    margin-top: 0;
    //font-size: 28px;
  }
}

/////////////////////

.brands a {
  display: block;
  text-align: center;
  line-height: 180px;
  float: left;
  height: 100px;
  width: 96px;
}

/////////////////////
.stars {
  white-space: nowrap;
  //color: @text-muted;
}

/////////////////////

.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

/////////////////////


//
// Close icons
// --------------------------------------------------


.control {
  float: right;
  //font-size: (@font-size-base * 1.5);
  width: 30px;
  font-weight: @close-font-weight;
  line-height: 1;
  color: @close-color;
  text-shadow: @close-text-shadow;
  .opacity(.2);

  &:hover,
  &:focus {
    color: @close-color;
    text-decoration: none;
    cursor: pointer;
    .opacity(.5);
  }

  // Additional properties for button version
  // iOS requires the button element instead of an anchor tag.
  // If you want the anchor version, it requires `href="#"`.
  button& {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}

/////////////////////

.confirm-link {
  white-space: nowrap;
}

/////////////////////

@import 'talk';

/////////////////////

#sound-standard {
  .hidden();
}

/////////////////////

@import 'topbar';

/////////////////////

#main {
  .bottom-space();
}

/////////////////////

.payment > input[type=radio]{
  display: none;
}


input[type=radio] + img{
  .user-select(none);
  cursor: pointer;
  margin: 3px;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #DDD;
  }
}

input[type=radio]:checked + img{
  border: 2px solid #285e8e;
}

/////////////////////

[rel="old"], [rel="new"], .payment-block {
  //background: #999;
  display: none;
}

.breadcrumb > li + li:before {
  font-family: "FontAwesome";
  content: "\f0da";
}

/////////////////////

@import 'table_responsive';

/////////////////////
