.label-all, .badge-all {
  background-color: white !important;
  color: black !important;
}

.label-active, .badge-active {
  background-color: white !important;
  color: black !important;
}

.label-incart, .badge-incart {
  background-color:  #A2A5B4!important;
  color: white !important;
}

.label-inorder, .badge-inorder {
  background-color: #FFDD03 !important;
  color: white !important;
}

.label-ordered, .badge-ordered {
  background-color: #069CD3 !important;
  color: white !important;
}

.label-pre_supplier, .badge-pre_supplier {
  background-color: #92007B !important;
  color: white !important;
}

.label-post_supplier, .badge-post_supplier {
  background-color: #0A6F20 !important;
  color: white !important;
}

.label-stock, .badge-stock{
  background-color: #8CCE3A !important;
  color: white !important;
}

.label-complete, .badge-complete{
  background-color: #FF7F00 !important;
  color: white !important;
}

.label-cancel, .badge-cancel {
  background-color: #CD0506 !important;
  color: white !important;
}

/////////////////////

.label-open, .badge-open {
  background-color: #29b1a6 !important;
  color: white !important;
}

.label-ready, .badge-ready {
  background-color: #072889 !important;
  color: white !important;
}

.label-close, .badge-close {
  background-color: #7F0000 !important;
  color: white !important;
}

