/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 230px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background-color: #999;
  font-size: 12px;
  padding-top: 20px; 
  border-top: 4px solid #555;
}

footer a {
  color: white;
  &:hover {
    color: black;
  }
}
