.talk-item {
  border: 1px solid #CFD1CF;
  border-radius: 5px;
  margin: 0 0 10px 0;
  //padding: 10px;
}
/////////////////////
#we-are-offline-note {
  .text-warning();
  .bottom-space-sm();
  .text-sm();
}

#we-are-online-note {
  .text-success();
  .bottom-space-sm();
  .text-sm();
}

#i-dont-want-to-choose-seller-block, 
#i-want-to-choose-seller-block {
  .text-info();
  .bottom-space();
  .text-sm();
}

#talk-recipients {
  .top-space();
  .bottom-space();
}

/////////////////////

.talk-head {
  .text-sm();
  #gradient > .vertical(rgb(240,240,240), darken(rgb(240,240,240), 1%));
  border-bottom: 1px solid #BED1CF;
  padding: 5px 10px;
  text-shadow: -1px 1px 1px #FFF;
}

.talk-body {
  padding: 0 10px;
  word-wrap: break-word;
}

.talk-type {
  .text-muted();
}

.talk-addresser {
}

.talk-addressee {
}

.talk-time {
  .text-muted();
}

/////////////////////

#talk-log {
  .bottom-space();
}


/////////////////////

#talk-notify {
  height: 150px;
  position: absolute;
}

