#nav-second {
  z-index: 999;
  min-height: 0;
  border-bottom: none;
  //background: inherit;
  box-shadow: none;

  ul > li > a {
    padding: 5px 15px;
  }

  ul > li.active > a {
    //background: #DDD;
  }

}

/////////////////////

#unread_talks:empty {
  .hidden();
}

#products_incart:empty {
  .hidden();
}

/////////////////////

#catalog_number_parent {
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: 130px;
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 160px;
 }
  @media (min-width: @screen-lg-min) {
    width: 200px;
 }
}

#catalog_number {
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: 130px;
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 160px;
 }
  @media (min-width: @screen-lg-min) {
    width: 200px;
 }
}

/////////////////////

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;

  img {
    height: 38px;
    width: 186px;
  }
}
