<%= b1 do %>

  <% @meta_title = "Запчасти" %>
  <%= page_header %>

  <ol id="categories-brands">
    <% @spare_infos.each do |spare_info| %>
      <li> <%= link_to spare_info.spare_catalog.name, category_brands_path(spare_info.spare_catalog) %> </li>
    <% end %>
  </ol>

<% end %>
