<h3>Здравствуйте <%= @resource.to_label %></h3>

<p>Кто-то запросил изменение пароля вашей учетной записи. Вы можете изменить пароль перейдя по ссылке.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали изменения пароля, то просто проигнорируйте это письмо и ваш пароль останется прежним.</p>
