<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
      {% if (file.error) { %}
        <td>
        </td>
        <td>
          <div class="name">{%=file.name%} - {%=o.formatFileSize(file.size)%}</div><br />
          <div class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div> <br />
        {% } else { %}
        <td>
        <div class="preview">{% if (file.thumbnail_url) { %}
          <a style="display: inline; width: auto" href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</div>
        </td>
        <td>
        <div class="name">
          <a style="display: inline; width:auto" href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a> - 
          {%=o.formatFileSize(file.size)%} <br /><br />
        </div>
        {% } %}
        <div class="delete">
          <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
            <i class="icon-trash icon-white"></i>
            <span>{%=locale.fileupload.destroy%}</span>
          </button>
          <br /><br />
          <input type="checkbox" name="delete" value="1">
        </div>
      </td>
  </tr>
  {% } %}
</script>
