<% content_for :attention do %>
  <%= flash[:attention] %>

  <%# TODO не делать постоянно запросы. Закешировать %>
  <% if (topics = $discourse.category_latest_topics('kompaniya/novosti').
      select{|topic| topic['pinned']}.
      reject{|topic| topic['closed']}).any? %>
    <% topics.each do |topic| %>
      <div>
        <span> <%= link_to topic['title'],  "http://forum.avtorif.ru/t/#{topic['slug']}/#{topic['id']}", class: 'alert-link' %> </span>
      </div>
    <% end %>
  <% end %>

<% end %>
