<% content_for :attention do %>

  <% attentioned_news.each do |topic| %>
    <details class="top-space-sm right-space-md bottom-space-sm left-space-md">
      <summary>
        <b><%= topic['title'] %></b>
      </summary>
      <div>
        <%== topic['post'] %>
      </div>
    </details>
    <% if false %>
    <div>
      <span> <%= link_to topic['title'],  "http://forum.avtorif.ru/t/#{topic['slug']}/#{topic['id']}", class: 'alert-link' %> </span>
    </div>
    <% end %>
  <% end %>

<% end %>

<div class="navbar-default alert-warning">
  <div class="container">
    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <% if content_for? :attention %>
        <%= yield :attention %>
      <% end %>
    </div>
  </div>
</div>
