<%= render "#{@resource_class.name.underscore.pluralize}/sort" if @resource_class %>
<div class="row">
  <%= render partial: "part", collection: @spare_infos, locals: { resource_class: @resource_class }, as: :part %>
</div>
