<% if @parts.present? %>
  <div id="best-parts-list">
    <% @parts.each do |spare_info| %>
      <div>
        <% brand = "НА #{@brand.try(:name)}" if @brand %>
        <% model = @model.try(:name) %>
        <% generation = @generation.try(:name) %>
        <% modification = @modification.try(:name) %>
        <%= link_to "#{spare_info.to_label} #{spare_info.cached_spare_catalog} #{brand} #{model} #{generation} #{modification}", new_user_product_path(catalog_number: spare_info.catalog_number, anchor: spare_info.cached_brand) %>
      </div>
    <% end %>
  </div>
<% else %>
  <% @meta_robots = 'noindex' %>
<% end %>
