<% if current_user && current_user.seller? %>
  <% if @exception.present? %>
    <%= b1 do %>
      <div class="well">
        <ul class="list-unstyled text-sm">
          <% @exception.backtrace.each do |item| %>
            <li><code> <%= item %> </code></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
