<div id="grid-toolbar-columns">

  <%= link_to url_for(params.merge(:action => :columns)), :remote => true, :role => "button", :class => "btn btn-default", :title => "Настроить отображаемые столбцы", :rel => 'tooltip', data: { placement: 'bottom' } do %>
    <%= icon 'columns' %>
  <% end %>

</div>
