<div id="grid-toolbar-check-uncheck">

  <div class="btn-group">

    <a class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" href="#">
      <%= icon 'check' %>
    </a>

    <ul class="dropdown-menu">
      <li> 
        <a id="check-items" href="#">
          Выделить все на странице
        </a>
      </li>
      <li>
        <a id="uncheck-items" href="#">
          Снять выделение со всех на странице
        </a>
      </li>
    </ul>

  </div>

</div>
