<%- render 'attention' -%>
<%- render 'flash' -%>

<% if content_for?(:attention) || content_for?(:flash) %>

  <% if content_for? :attention %>
    <%= alert 'warning' do %>
      <div id="attention-block">
        <%= yield :attention %>
      </div>
    <% end %>
  <% end %>

  <% if content_for? :flash %>
    <div id="flash-block">
      <%= yield :flash %>
    </div>
  <% end %>

<% end %>
