<li>
  <%= link_to main_app.faqs_path(anchor: navbar_shop.faq_id), :"faq-translocation" => ''  do %>
    <img style="margin-bottom: 3px;" src="http://www.avz.ru/assets/templates/imgs/mos_metro_logo_16.jpg"> <%= navbar_shop.metro %>
  <% end %>
</li>
