<%= f.form_group name do %>

  <%= f.label name, class: 'col-lg-2 col-md-3 col-sm-3 control-label' %>

  <div class="col-lg-6 col-md-7 col-sm-8">
    <%= f.password_field name, placeholder: placeholder, rel: rel %>
    <%= f.error name %>
  </div>

<% end %>
