<p style="text-align: center" class="bottom-space">
  <a href="/deliveries">
    <strong>Спецпредложение для жителей Северного Административного Округа г. Москвы!</strong>
  </a>
</p>

<h4 class="text-muted">Магазины</h4 class="text-muted"> 
...

<h4 class="text-muted">Принимаем оплату</h4 class="text-muted"> 
<p style="text-align: center; ">
    <a href="/payment#yandex">
        <img alt="Яндекс Деньги" title="Яндекс Деньги" src="/assets/payment/PCR.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#sberbank">
        <img title="Сбербанк" alt="Сбербанк" src="/assets/payment/Sberbank.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#webmoney">
        <img title="Вебмани" alt="Вебмани" src="/assets/payment/WM.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#euroset">
        <img title="Евросеть" alt="Евросеть" src="/assets/payment/RapidaOceanEurosetR.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#qiwi">
        <img title="Киви" alt="Киви" src="/assets/payment/QiwiR.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#svyaznoy">
        <img title="Связной" alt="Связной" src="/assets/payment/RapidaOceanSvyaznoyR.gif" style="width: 135px; height: 80px; ">
    </a>
    <a href="/payment#bank">
        <img title="Visa и MasterCard" alt="Visa и MasterCard" src="/assets/payment/BANKOCEANMR.gif" style="width: 135px; height: 80px; ">
    </a>
</p>

<h4 class="text-muted">Отправляем</h4 class="text-muted"> 
<p style="text-align: center; ">
    <a href="/delivery#ems">
        <img title="EMS Почта России" alt="EMS Почта России" src="/assets/delivery/ems.png" style="width: 135px; height: 80px; ">
    </a>
    <a href="/delivery#russian_post">
        <img title="Почта России" alt="Почта России" src="/assets/delivery/russian_post.png" style="width: 135px; height: 80px; ">
    </a>
</p>
