<div class="spare-catalog-intro">
  <% if catalog && catalog.intro? %>
    <div class="top-space-sm bottom-space-lg">
      <div class="text-muted">
        <%== catalog.intro %>
      </div>
    </div>
  <% end %>
</div>
