<% if info && info.spare_catalog && info.spare_catalog.opt %>
  <h3>Характеристики товара</h3>
  <%= render "opts/#{info.spare_catalog.opt.pluralize}/chars", part: info, resource_class: "Opts::#{info.spare_catalog.opt.classify}".constantize %>
<% end %>
