<% if info && info.hstore? %>
  <h3 class="top-space-lg">Прочие характеристики</h3>
  <div class="table-responsive">
    <table class="table table-striped bottom-space-none">
      <% info.hstore.each do |k,v| %>
        <tr>
          <td>
            <%= k %>
          </td>
          <td>
            <%= v %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
