<% if info.hstore? %>
  <h3>Прочие характеристики</h3>
  <div class="table-responsive">
    <table class="table table-striped table-striped">
      <% info.hstore.each do |k,v| %>
        <tr>
          <td>
            <%= k %>
          </td>
          <td>
            <%= v %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

