'токен
////////- elsif column_name == 'token'
////////  td = link_to item.token, '#', :rel => 'popover', data: { html: true, content: content.gsub("\"", "'"), title: 'Дополнительная информация'}, class: "btn btn-info btn-mini", style: "min-width: 30px"
