<div id="grid-toolbar-remove">
  <% selected = @items.selected(@grid.item_ids) %>

  <% if selected.size > 0 %>
    <%= link_to smart_route({prefix: [:multiple_destroy], postfix: [:products] }, :primary_key => params[:primary_key], :return_path => request.fullpath), data: { confirm: "Вы увереные, что хотите удалить товар?" }, class: "btn btn-danger" do %>
      <%= icon 'times' %>
    <% end %>
  <% else %>
    <a href="#" class="btn btn-danger disabled">
      <%= icon 'times' %>
    </a>
  <% end %>

</div>
