= f.input :email_address, :required => true
= f.input :creation_reason, :collection => Rails.configuration.user_email_address_creation_reason.map {|k,v| [v,k]}.to_a, :disabled => true, :as => :radio_buttons
= render :partial => 'shared/profileable_confirmed', :locals => {:f => f}
