<div id="grid-toolbar-new">
  <% if @user.present? %>
    <%= link_to url_for(:action => :new, :return_path => request.fullpath), :class => 'btn btn-primary' do %>
      <%= icon 'plus' %>
    <% end %>
  <% else %>
    <a href="#" class="btn btn-primary disabled">
      <%= icon 'plus' %>
    </a>
  <% end %>
</div>
