<div id="assa">
  <div id="assa-result" style="display: none">
    <a id="assa-link" class="dashed" href="#"><strong>Ввести другой адрес</strong></a>
    <div class="well top-space">
      <p>Тут отображать информацию о доставке</p>

      <form accept-charset="UTF-8" action="/user/orders/563-04-024/delivery" class="dirtyforms" id="edit_order_12" method="post">
          <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="✓">
              <input name="_method" type="hidden" value="patch">
              <input name="authenticity_token" type="hidden" value="kE3oCIjCmTRja1ZuHIlJvaxeDg3jMlRSsV0vSbtPfgE=">
          </div>
          <div class="form-group">
              <label class="control-label" for="order_delivery_variant_id">Delivery variant</label>
              <input class="form-control" id="order_delivery_variant_id" name="order[delivery_variant_id]" placeholder="" type="text" value="908005739">
          </div>

          <select class="form-control" id="order_old_postal_address_id" name="order[old_postal_address_id]" rel="select select-and-fill">
            <option value=""></option>
            <option value="979462528">111111, 1, 1, 1, 1</option>
            <option value="979462527">111111, 1, 1, 1, 1</option>
          </select>

          <input id="order_postal_address_type_old" name="order[postal_address_type]" rel="radio radio-new-old-switcher" type="radio" value="old">

          <input id="return_path" name="return_path" type="hidden" value="/user/orders/563-04-024/delivery/edit?return_path=%2Fuser%2Forders%2F563-04-024%2Fproducts%2Ffilter%3Fprimary_key%3D10994%26return_path%3D%252Fuser%252Forders%252Fstatus%252Fall%253Fprimary_key%253D10993">
          <div class="form-group">
              <input class="btn btn-primary btn-lg top-space bottom-space bottom-space-none btn-warning" name="commit" type="submit" value="Выбрать">&nbsp;&nbsp;&nbsp;или&nbsp;&nbsp;&nbsp;<a class="btn btn-default" data-confirm="Уверены что хотите вернуться назад без сохранения?" href="/user/orders/563-04-024/products/filter?primary_key=10994&amp;return_path=%2Fuser%2Forders%2Fstatus%2Fall%3Fprimary_key%3D10993">Назад</a>
          </div>
      </form>

    </div>
  </div>
  <div id="assa-block">

   <%

       resource = OrderDelivery.new

       if @somebody.postal_addresses.any?
         resource.postal_address_type = 'old'
       else
         resource.postal_address_type = 'new'
       end

       resource.new_postal_address = @somebody.postal_addresses.new(postcode: '000000', region: 'Москва', city: 'Москва')

       #TODO Как так? А может это и лучшему :)
       #@resource.old_postal_address = @resource.postal_address
       #@resource.old_postal_address_id = @resource.postal_address_id

   %>

    <%= twbs_form_for resource, url: polymorphic_path([*jaba3, :order_deliveries]), method: :post, remote: true do |f| %>
      <%= render 'payments/postal_addresses', f:f %>
      <%= f.submit 'Расчитать', class: "btn btn-info" %>
    <% end %>
  </div>
</div>
