<footer class="clearfix">

  <div class="container">

    <div class="row">

      <div class="col-sm-3">
        <address>
          <div itemscope itemtype="http://schema.org/Organization">
            <strong>&copy; <span itemprop="name"> Авториф  </span> 1997 </strong><br />
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="addressLocality">Россия, г. Москва</span>,
              <span itemprop="postalCode">индекс 109428</span><br />
              <span itemprop="streetAddress">Рязанский проспект, д. 53</span><br />
            </div>
            тел: <span itemprop="telephone">+7 (495) 544-57-41</span><br />
            e-mail: <a href="mailto:info@avtorif.ru"><span itemprop="email">info@avtorif.ru</span></a><br />
            <br />
            <a href="http://avtorif.ru" itemprop="url"> http://www.avtorif.ru </a><br />
            <span itemprop="description"> Интернет магазин автозапчастей.</span>
          </div>
        </address>
      </div>

      <div class="col-sm-2">
        <ul class="list-unstyled">
          <li> <a href="#"> Поставщикам </a> </li>
          <li> <a href="#"> Оптовым покупателям </a> </li>
          <li> <a href="#"> Вакансии </a> </li>
          <li> <a href="#"> Юридическая информация </a> </li>
          <li> <a href="#"> Связь с руководством </a> </li>
        </ul>

        <video width="50" height="50" id="my-video" autoplay muted="true"></video>

      </div>

      <div class="col-sm-2">
        <ul class="list-unstyled">
          <li> <a href="#"> Новости компании </a> </li>
          <li> <a href="#"> Спомобы оплаты </a> </li>
          <li> <a href="#"> Доставка и самовывоз </a> </li>
          <li> <a href="#"> Частые вопросы </a> </li>
        </ul>

        <video width="50" height="50" id="peer-video" autoplay></video>

      </div>

      <div class="col-sm-5">
        <div class="center-block" style="padding: 10px; background: white; border: #999 1px solid; background: #FAFAFA;">
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag 'under_construction.jpg', style: 'height: 60px;', class: 'media-object right-space-sm' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading text-warning">Внимание!</h4>
              На сайте ведется реконструкция, некоторые части могут работать неправильно. Заранее приносим извинения.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</footer>
