<hr class="clearfix" style="margin-top: 80px" />

<footer>

  <div class="row">

    <div class="col-sm-3">
      <small>
        <p> &copy; Company 2012 </p>
      </small>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-2">
      <small>
        <ul class="list-unstyled">
          <li> <a href="#"> Поставщикам </a> </li>
          <li> <a href="#"> Вакансии </a> </li>
          <li> <a href="#"> Юридическая информация </a> </li>
        </ul>
      </small>
    </div>

    <div class="col-sm-3">
      <small>
        <ul class="list-unstyled">
          <li> 
            <a href="#"> Связь с руководством </a>
          </li>
        </ul>
      </small>
    </div>

    <div class="col-sm-2">
    </div>

  </div>

</footer>
